<!DOCTYPE html>
<html ng-app="alunoModule">
<head>
	<meta charset="utf-8"/>
	<title>Aluno</title>
	<link rel="stylesheet" href="css/bootstrap.min.css"></link>
	<script src="js/jquery-3.1.1.min.js"></script>
	<script src="js/bootstrap.js"></script>
	<script src="js/angular.min.js"></script>
	<script src="js/jquery.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="control/alunoControl.js"></script>
	
</head>
<body ng-controller="alunoControl">
<div ng-include src="'menu.html'"></div>
<div class="panel panel-default">
<div class="panel-heading">Cadastro de Alunos</div>
  <div class="panel-body">
	<div>
		<ul class="nav nav-tabs" role="tablist">
		    <li role="presentation" class="active">
		    	<a href="#cadastro" aria-controls="cadastro" role="tab" data-toggle="tab">Cadastro</a>
		    </li>
				    
			<li role="presentation">
				<a href="#dados" aria-controls="dados" role="tab" data-toggle="tab">Dados</a>
			</li>
		</ul>
		
		<div class="tab-content">
		
		
			<div role="tabpanel" class="tab-pane active" id="cadastro">
					<br>
					<button type="button" class="btn btn-info" ng-click="novo()">Novo</button>
					<button type="button" class="btn btn-success" ng-click="salvar()">Salvar</button>
					<button type="button" class="btn btn-danger" ng-click="excluir()">Excluir</button>
					<button type="button" class="btn btn-warning" ng-click="pesquisar()">Pesqusiar</button>
					<hr/>
					
			    	<form>
					  <div class="form-group col-md-2">
					    <label for="exampleInputCodigo">Codigo</label>
					    <input type="text" disabled="true" class="form-control" ng-model="aluno.idAluno" placeholder="Codigo">
					  </div>
					  
					  <div class="form-group col-md-6">
					    <label for="exampleInputNome">Nome</label>
					    <input type="text" class="form-control" ng-model="aluno.nmPessoa" id="inputNome" placeholder="Insira o Nome">
					  </div>
					  
					  <div class="form-group col-md-4">
					    <label for="exampleInputCpf">CPF</label>
					    <input type="text" class="form-control" ng-model="aluno.nmCpf" id="inputCpf" placeholder="Insira o CPF">
					  </div>

					  <div class="form-group col-md-4">
					    <label for="exampleInputEndereco">Endereco</label>
					    <input type="text" class="form-control" ng-model="aluno.dsEndereco" id="inputEndereco" placeholder="Insira o Endereco">
					  </div>

					  <div class="form-group col-md-4">
					    <label for="exampleInputDtNascimento">Data Nascimento</label>
					    <input type="text" class="form-control" ng-model="aluno.dtNascimento" id="inputDtNascimento" placeholder="Insira a Data de Nascimento">
					  </div>

					  <div class="form-group col-md-2">
					    <label for="exampleInputTelefone">Telefone</label>
					    <input type="text" class="form-control" ng-model="aluno.nrTelefone" id="inputTelefone" placeholder="Insira o Telefone">
					  </div>

					  <div class="form-group col-md-4">
					    <label for="exampleInputRenach">Renach.</label>
					    <input type="text" class="form-control" ng-model="aluno.nrPrenach"  id="inputRenach" placeholder="Registro Nacional de Condutores Habilitados">
					  </div>

					</form>
			    </div>
			
			    <div role="tabpanel" class="tab-pane" id="dados">
				<br>
				<input type="text" class="form-control" ng-model="criterio" placeholder="O que voce esta procurando?"/>
				<br>
			    	<table class="table table-hover">
			    		<th>Codigo</th><th>Nome</th><th>CPF</th><th>Endereco</th><th>Data Nascimento</th><th>Telefone</th><th>Renach.(Registro Nacional de Condutores Habilitados)</th>

			    		<tr ng-repeat="alunoTabela in alunos | filter:criterio" ng-click="seleciona(alunoTabela);">
			    			<td>{{alunoTabela.idAluno}}</td><td>{{alunoTabela.nmPessoa}}</td><td>{{alunoTabela.nmCpf}}</td><td>{{alunoTabela.dsEndereco}}</td>
			    			<td>{{alunoTabela.dtNascimento}}</td><td>{{alunoTabela.nrTelefone}}</td>
			    			<td>{{alunoTabela.nrprenach}}</td>
			    		</tr>
					</table>
			    </div>

		</div>
	</div>
  </div>
</div>
</body>