<!DOCTYPE html>
<html lang="en" ng-app="categoriaModule">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Sistema Ecommerce</title>

    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
	
	<script src="js/angular.min.js"></script>
	<script src="control/categoriaControl.js"></script>

  </head>
  <body ng-controller="categoriaControl">

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="js/jquery-1.12.2.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.min.js"></script>
	
	<div ng-include="'menu.html'"></div>
	
	<div class="panel panel-default">
		<div class="panel-heading">Cadastro de Categorias</div>
		<div class="panel-body">
		<div>
		  <!-- Nav tabs -->
		  <ul class="nav nav-tabs" role="tablist">
			<li role="presentation" class="active">
			<a href="#cadastro" aria-controls="cadastro" role="tab" data-toggle="tab">Cadastro</a></li>
			<li role="presentation">
			<a href="#dados" aria-controls="dados" role="tab" data-toggle="tab">Dados</a></li>
		  </ul>

		  <!-- Tab panes -->
		  <div class="tab-content">
			<div role="tabpanel" class="tab-pane active" id="cadastro">
			<br>				
				<form>
					<div class="form-group">
						<button type="button" ng-click="novo()" class="btn btn-info">Novo</button>
						<button type="submit" ng-click="salvar()" class="btn btn-success">Salvar</button>
						<button type="button" ng-click="excluir()" class="btn btn-danger">Excluir</button>
						<button type="button" ng-click="pesquisar()" class="btn btn-warning">Pesquisar</button>
					</div>	
				  <hr/>	
				  <div class="form-group col-md-2">
					<label for="inputCodigo">Código:</label>
					<input type="number" class="form-control" disabled="true" ng-model="categoria.idCategoria" id="inputCodigo" placeholder="Código do categoria">
				  </div>
				  <div class="form-group col-md-6">
					<label for="inputNome">Nome:</label>
					<input type="text" class="form-control" ng-model="categoria.dsCategoria" id="inputNome" placeholder="Insira o nome">
				  </div>				  
				</form>
				
			</div>
			<div role="tabpanel" class="tab-pane" id="dados">
			<br>
			<input type="text" class="form-control" ng-model="criterio"
				placeholder="O que você está procurando?" /><br>
				
			<table class="table table-striped table-bordered table-hover">
				<tr>
				<th>Código</th>
				<th>Nome</th>
				</tr>
				<tbody>
				<tr ng-repeat="categoriaTabela in categorias | filter:criterio" 
					ng-click="seleciona(categoriaTabela)">					
					<td>{{categoriaTabela.idCategoria}}</td>
					<td>{{categoriaTabela.dsCategoria}}</td>
				</tr>
				</tbody>
			</table>
			<span ng-show="(categorias | filter:criterio).length == 0">Infelizmente
			não temos o item que você está procurando!</span>

			</div>
		  </div>

		</div>
		</div>
	</div>
		
  </body>
</html>